### GPT에게 녹음본 요약 요청하기

In [2]:
import pandas as pd

df_rttm = pd.read_csv('output/final_output.csv',sep='|')
df_rttm.head()

    start     end  speaker_id  duration                        text
0   0.031   1.195  SPEAKER_00     1.164                      다시 말해봐
1   2.748   5.836  SPEAKER_01     3.088         일단 내가 이천원 먼저 보내줄테니깐
2   7.270   8.721  SPEAKER_00     1.451  1만 2천원 나중에 보내줄게 왜 또 줄어 가격이
3   9.143  11.691  SPEAKER_01     2.548          그만 그렇게 말하면 하지너 왔다며
4  10.308  15.556  SPEAKER_00     5.248               아니 그냥 만원 보내주고

In [3]:
name = {'SPEAKER_00' : '철수','SPEAKER_01':'영희'}
df_rttm['name'] = df_rttm['speaker_id'].map(name)
df_rttm.head()

    start     end  speaker_id  duration                        text name
0   0.031   1.195  SPEAKER_00     1.164                      다시 말해봐   철수
1   2.748   5.836  SPEAKER_01     3.088         일단 내가 이천원 먼저 보내줄테니깐   영희
2   7.270   8.721  SPEAKER_00     1.451  1만 2천원 나중에 보내줄게 왜 또 줄어 가격이   철수
3   9.143  11.691  SPEAKER_01     2.548          그만 그렇게 말하면 하지너 왔다며   영희
4  10.308  15.556  SPEAKER_00     5.248               아니 그냥 만원 보내주고   철수

In [4]:
conf_txt = df_rttm[['start','end','text','name']].to_json(orient='records',force_ascii=False)
print(conf_txt)

[{"start":0.031,"end":1.195,"text":"다시 말해봐","name":"철수"},{"start":2.748,"end":5.836,"text":"일단 내가 이천원 먼저 보내줄테니깐","name":"영희"},{"start":7.27,"end":8.721,"text":"1만 2천원 나중에 보내줄게 왜 또 줄어 가격이","name":"철수"},{"start":9.143,"end":11.691,"text":"그만 그렇게 말하면 하지너 왔다며","name":"영희"},{"start":10.308,"end":15.556,"text":"아니 그냥 만원 보내주고","name":"철수"},{"start":16.012,"end":26.541,"text":"오천원 나중에 돼 12,000원12,000원12,000원아니 천 원이 하자 12,000원에 2,000원아니 천원이 뭐 그 자조 저건 많이 터러 12,000원은 그냥 12,000원에 3해 너도 삼촌은 그게 아쉬워?","name":"영희"},{"start":27.537,"end":30.254,"text":"아니 나는 지금 많이 희생했잖아","name":"철수"},{"start":30.372,"end":34.591,"text":"나는 3천은 내 버스비긴 해가지고 내 교통비라서 아쉬워놔 3천원이 그걸 나중에 내면 된다니까","name":"영희"},{"start":34.591,"end":34.777,"text":null,"name":"철수"},{"start":34.642,"end":36.195,"text":null,"name":"영희"},{"start":38.371,"end":44.649,"text":"지금 내라는 게 아니냐 몇 번을 말해?","name":"철수"},{"start":45.053,"end":49.323,"text":"언제? 한 보려면 계속 두 달은 기다려야 되는데","name":"영희"},{"start":49.745,"end":52.934,"text":null,"name":"철수"},{"start":55.077,"end":64.763,"text":"그건 니가 그냥 일을 안 하는 거네 돈 없다고 찡찡대면서 일단 머리 자르고 돈을 보내주던 연락을 할게있는 돈부터 계산을 해봐야 될 거 아니야","name":"영희"},{"start":66.856,"end":73.656,"text":"남는 돈이 얼마인지 계산 안될 수 있잖아 일단 뭐 뭐가 됐든 이따 말해그래, 오뽀가 되겠네","name":"철수"},{"start":74.045,"end":74.821,"text":"엇? 엇보는 아니고","name":"영희"}]

In [5]:
system_prompt = f'''
당신은 통화 내용을 요약하는 봇입니다. 아래 통화녹음본을 읽고, 주요 내용을 요약해주세요.
결과는 마크다운 형식으로 작성하세요.
아래 형식에 맞게 작성해 주세요.

# 통화 녹음 주제

# 통화 녹음 주요 내용

# 화자별 입장

# 결정사항

=================이하 통화녹음본==================
{conf_txt}
'''

from openai import OpenAI
from dotenv import load_dotenv
import os

load_dotenv()
api_key = os.getenv('OPEN_API_KEY')

client = OpenAI(api_key=api_key)

response = client.chat.completions.create(
    model = 'gpt-4o',
    temperature = 0.1,
    messages = [{'role' : 'system', 'content' : system_prompt}])

summary = response.choices[0].message.content
summary = summary.strip()

print(summary)

# 통화 녹음 주제
금전 거래와 관련된 대화

# 통화 녹음 주요 내용
영희가 철수에게 2,000원을 먼저 보내고 나중에 12,000원을 보내겠다고 제안한다. 철수는 금액이 줄어드는 것에 대해 의문을 제기하고, 영희는 나중에 3,000원을 교통비로 사용해야 한다고 설명한다. 철수는 영희가 일을 하지 않는 것에 대해 지적하며, 영희는 돈을 계산해보겠다고 답한다.

# 화자별 입장
- **철수**: 영희가 제안한 금액이 줄어드는 것에 대해 불만을 표하고, 영희가 일을 하지 않는 것에 대해 지적한다.
- **영희**: 2,000원을 먼저 보내고 나중에 12,000원을 보내겠다고 제안하며, 교통비 문제로 3,000원이 필요하다고 설명한다.

# 결정사항
구체적인 결정사항은 없으며, 영희가 돈을 계산해보겠다고 말하며 대화가 마무리된다.

# 통화 녹음 주제
금전 거래와 관련된 대화

# 통화 녹음 주요 내용
철수와 영희는 금전 거래에 대해 논의하고 있다. 영희는 철수에게 2,000원을 먼저 보내고 나중에 12,000원을 보내겠다고 제안한다. 철수는 금액이 줄어드는 것에 대해 불만을 표하고, 영희는 나중에 3,000원을 더 내겠다고 한다. 두 사람은 서로의 입장을 조율하려고 하지만, 합의에 이르지 못하고 있다.

# 화자별 입장
- **철수**: 영희가 제안한 금액이 줄어드는 것에 불만을 가지고 있으며, 자신이 이미 많은 희생을 했다고 주장한다.
- **영희**: 철수에게 2,000원을 먼저 보내고 나중에 12,000원을 보내겠다고 제안하며, 자신의 교통비 문제를 언급한다. 철수가 일을 하지 않는 것에 대해 비판적이다.

# 결정사항
현재로서는 명확한 결정사항 없이 대화가 끝났다. 두 사람은 금전 거래에 대한 합의에 이르지 못했다.

In [6]:
# 저장
with open('output/summary.md','w',encoding='utf-8') as md:
    md.write(summary)

### 녹취록 내용 교정하기

In [7]:
df_note = df_rttm[['start','end','name','text']].copy()
df_note.dropna(inplace=True,subset=['text'])
df_note.head()

    start     end name                        text
0   0.031   1.195   철수                      다시 말해봐
1   2.748   5.836   영희         일단 내가 이천원 먼저 보내줄테니깐
2   7.270   8.721   철수  1만 2천원 나중에 보내줄게 왜 또 줄어 가격이
3   9.143  11.691   영희          그만 그렇게 말하면 하지너 왔다며
4  10.308  15.556   철수               아니 그냥 만원 보내주고

In [8]:
df_note_dict = df_note.to_dict(orient='records')
for row in df_note_dict:
    if not isinstance(row['text'],str):
        continue
    
    correction_system_prompt = f'''
    당신은 주어진 녹취록을 수정 및 보완하는 봇입니다.
    주어진 통화 녹취록을 STT로 작성된 결과이므로, 오류가 있는 부분을 찾아내고 수정해주세요.

    표현과 말투는 원본과 최대한 유사한 형태로 유지하고 잘못 받아적은 내용은 수정하세요.
    원본의 내용을 최대한 보존하면서 잘못된 부분만 수정하세요.
    어떤 경우에는 화자A가 말한 내용을 화자B가 말한 것으로 잘못 기록된 경우도 있습니다. 
    이런 경우에는 문맥을 고려하여 수정하세요.

    원본 내용 중 빠지거나, 추가되거나, 잘못 기록된 부분을 찾아내어 수정하세요.
    수정된 메시지 이외에는 아무것도 작성하지 마세요.
    영희는 업보가 쌓일 예정입니다.
    =========================================================

    회의 요약문 : {summary}

    =========================================================

    회의 녹취록 전문 : {df_note.to_json(orient='records',force_ascii=False)}

    =========================================================

    확인할 메시지 원본 : {row['text']}
'''
    response = client.chat.completions.create(
    model = 'gpt-4o',
    temperature=0.1,
    messages = [{'role' : 'system', 'content' : correction_system_prompt}]
)

    correction = response.choices[0].message.content
    if ':' in correction:
        correction = correction.split(':')[-1]
    correction = correction.strip()

    print(row['name'])
    print(row['text'])
    print(correction)
    print('-------------------------------------------')

    row['corrected_text'] = correction

철수
다시 말해봐
다시 말해봐.
-------------------------------------------
영희
일단 내가 이천원 먼저 보내줄테니깐
일단 내가 2,000원 먼저 보내줄 테니까
-------------------------------------------
철수
1만 2천원 나중에 보내줄게 왜 또 줄어 가격이
1만 2천원 나중에 보내준다며, 왜 또 줄어 가격이?
-------------------------------------------
영희
그만 그렇게 말하면 하지너 왔다며
그만 그렇게 말하면 안 되지, 너 왔다며
-------------------------------------------
철수
아니 그냥 만원 보내주고
아니 그냥 2,000원 보내주고
-------------------------------------------
영희
오천원 나중에 돼 12,000원12,000원12,000원아니 천 원이 하자 12,000원에 2,000원아니 천원이 뭐 그 자조 저건 많이 터러 12,000원은 그냥 12,000원에 3해 너도 삼촌은 그게 아쉬워?
오천원 나중에 돼 12,000원 보내줄게. 아니, 3,000원이 교통비로 필요해서 12,000원 중에 3,000원은 내가 써야 해. 너도 그게 아쉬워?
-------------------------------------------
철수
아니 나는 지금 많이 희생했잖아
아니 나는 지금 많이 희생했잖아.
-------------------------------------------
영희
나는 3천은 내 버스비긴 해가지고 내 교통비라서 아쉬워놔 3천원이 그걸 나중에 내면 된다니까
나는 3천 원은 내 버스비긴 해가지고, 내 교통비라서 아쉬워. 나중에 내면 된다니까.
-------------------------------------------
철수
지금 내라는 게 아니냐 몇 번을 말해?
지금 내라는 게 아니냐고 몇 번을 말해?
-------------------------------------------
영희
언제? 한 보려면 계속 두 달은 기다려야 되는데
"언제? 한 번 보려면 계속 두 달은 기다려야 되는데"
-------------------------------------------
영희
그건 니가 그냥 일을 안 하는 거네 돈 없다고 찡찡대면서 일단 머리 자르고 돈을 보내주던 연락을 할게있는 돈부터 계산을 해봐야 될 거 아니야
그건 내가 그냥 일을 안 하는 거네 돈 없다고 찡찡대면서 일단 머리 자르고 돈을 보내주던 연락을 할게 있는 돈부터 계산을 해봐야 될 거 아니야
-------------------------------------------
철수
남는 돈이 얼마인지 계산 안될 수 있잖아 일단 뭐 뭐가 됐든 이따 말해그래, 오뽀가 되겠네
남는 돈이 얼마인지 계산 안될 수 있잖아 일단 뭐 뭐가 됐든 이따 말해 그래, 업보가 되겠네
-------------------------------------------
영희
엇? 엇보는 아니고
엇? 업보는 아니고
-------------------------------------------

In [9]:
import json

with open('output/audio_note_correction.json','w',encoding='utf-8') as f:
    json.dump(df_note_dict,f,ensure_ascii=False,indent=4)

In [10]:
md_template = ''

for row in df_note_dict:
    md_template += f"- **{row['name']}** : {row['corrected_text']}\n"

with open('output/audio_corrected_note.md','w',encoding='utf-8') as f:
    f.write(md_template)

### word 파일 생성하기

In [12]:
from docx import Document
from docx.shared import Pt
from docx.oxml.ns import qn

doc = Document()
doc.add_heading('녹취록', level=1)

# 한글 폰트를 적용할 함수
def set_korean_font(cell, font_name='맑은 고딕', font_size=11):
    for paragraph in cell.paragraphs:
        for run in paragraph.runs:
            run.font.name = font_name
            run._element.rPr.rFonts.set(qn('w:eastAsia'), font_name)
            run.font.size = Pt(font_size)

# 표 만들기
table = doc.add_table(rows=1, cols=2)
table.style = 'Table Grid'

# 헤더 설정
hdr_cells = table.rows[0].cells
hdr_cells[0].text = 'Speaker'
hdr_cells[1].text = 'Content'
set_korean_font(hdr_cells[0])
set_korean_font(hdr_cells[1])

# 데이터 채우기
for row in df_note_dict:  # 이건 list of dicts 구조라고 가정
    row_cells = table.add_row().cells
    row_cells[0].text = row['name']
    row_cells[1].text = row['corrected_text']
    set_korean_font(row_cells[0])
    set_korean_font(row_cells[1])

# 저장
doc.save('output/녹취록 요약본.docx')